
<form class="form-wrapper">
    <div class="content-wrapper">
      
    <mat-form-field>
        <mat-select placeholder="Select city">
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{ city.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Choose start date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      
      <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Choose end date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </div>
      
</form>